.form-item .form-setting input[type="text"], .form-item .form-setting input[type="password"], .form-item .form-setting select, .mform .fcontainer .fitem .felement input[type="text"], .mform .fcontainer .fitem .felement input[type="password"], .mform .fcontainer .fitem .felement select,.mform .fcontainer .fitem .felement textarea {
        width: auto;
            min-width: 500px;
    }
    
.dimmed:not(.conditionalhidden):after, .dimmed_text:not(.conditionalhidden):after {

  content:"\f070";
  font-family: FontAwesome;
  padding-left: 10px;
}

/* Custom CSS
-------------------------*/
div.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl div.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
